{% extends 'budget_app/base.html' %}
{% load widget_tweaks %}
{% block title %}Categories - Budget Buddy{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
    <div class="col-md-8 offset-md-2 content">
        <h2>Categories</h2>

<p>Here is a list of all of your current budget categories. You can add, rename, or delete them here.</p>
{% if error %}
<div class="alert alert-danger">
    <strong>{{ error }}</strong>
</div>
{% endif %}


<p style="float:right;">
    <a href="{% url 'newCategory' %}" class="btn btn-danger">
        New Category
    </a>
</p>
<div style="clear: both;"></div>

{% for category in categories %}
<div class="card">
    <div class="card-body">
      <h4 class="card-title mt-2">{{ category.name }}</h4>
      <a href="{% url 'editCategory' categoryID=category.id %}" class="btn btn-primary">Rename</a>
      <a href="{% url 'deleteCategory' categoryID=category.id %}" class="btn btn-primary">Delete</a>
    </div>
  </div>
<br />
{% empty %}
<h4>You have no budget categories yet...</h4>
{% endfor %}

<ul class="pagination">
    {% if categories.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ categories.previous_page_number }}"><i class="fas fa-long-arrow-alt-left"></i></a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#"><i class="fas fa-long-arrow-alt-left"></i></a></li>
    {% endif %}

    {% if categories.number|add:'-3' > 1 %}
    <li class="page-item"><a class="page-link" href="?page={{ categories.number|add:'-4' }}"><i class="fas fa-ellipsis-h"></i></a></li>
    {% endif %}

    {% for i in page_range %}
    {% if categories.number == i %}
        <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
    {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    
    {% if categories.paginator.num_pages > categories.number|add:'2' %}
    <li class="page-item"><a class="page-link" href="?page={{ categories.number|add:'3' }}"><i class="fas fa-ellipsis-h"></i></a></a></li>
    {% endif %}

    {% if categories.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ categories.next_page_number }}"><i class="fas fa-long-arrow-alt-right"></i></a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#"><i class="fas fa-long-arrow-alt-right"></i></a></li>
    {% endif %}
  </ul>

        </div>
    </div>
</div>
{% endblock %}