{% extends 'budget_app/base.html' %}
{% load widget_tweaks %}
{% block title %}Edit Category - Budget Buddy{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
    <div class="col-md-8 offset-md-2 content">
        
<p>&nbsp;</p>
{% if form.errors %}
{% for field in form %}
    {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
{% endfor %}
{% endif %}
<div style="clear: both;"></div>

<div class="card no-hover">
    <div class="card-body">    
        <h4 class="card-title mt-2">Rename Category - {{ category.name }}</h4>
      <form method="POST">
        {% csrf_token %}
        <div style="padding-bottom:10px;">
        {% render_field form.name class="form-control" placeholder=category.name %}
      </div>
        <button type="submit" class="btn btn-block btn-primary">Submit</button>
      </form>

    </div>
  </div>
<br />
        </div>
    </div>
</div>
{% endblock %}